<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Hồ sơ bên trái -->
	<div th:fragment="information" class="col-md-4">
		<form th:action="@{/user-profile/update}" th:method="POST"
			enctype="multipart/form-data" th:object="${account}">
			<input type="hidden" th:field="*{username}" />
			<div class="profile-card p-4 h-100">
				<div style="text-align: left;">
					<a style="text-decoration: none; font-size: 18px; color: yellow;"
						th:href="@{/}">< Quay lại</a>
				</div>
				<input type="file" id="avatarInput" accept="image/*"
					onchange="previewAvatar(event)">
				<div class="profile-img-container">
					<input type="file" id="avatar" name="avatar" style="display: none;">
					<img id="avatarImage"
						th:src="@{/img/user-avatar/{avatar} (avatar = ${account.user.avatar})}"
						alt="Avatar" class="profile-img">
					<button class="change-avatar-btn"
						onclick="document.getElementById('avatarInput').click(); return false;">Thay
						đổi</button>
				</div>
				<h2 class="mt-3 text-center" th:text="${account.user.fullName}">Họ
					tên</h2>
				<div class="text-start">
					<p>
						<strong>Tuổi:</strong> <span th:text="${account.user.age}"></span>
					</p>
					<p>
						<strong>Giới tính:</strong> <span th:if="${account.user.gender}">Nam</span>
						<span th:unless="${account.user.gender}">Nữ</span>
					</p>
					<p>
						<strong>Ngày sinh:</strong> <span
							th:text="${account.user.dateOfBirth}">21/10/1232</span>
					</p>
					<p>
						<strong>Email:</strong> <span th:text="${account.email}">tin@gmail.com</span>
					</p>
				</div>
				<div>
					<button class="btn btn-custom mt-2 regular-button"
						style="background-color: yellow;" data-bs-toggle="modal"
						data-bs-target="#editProfileModal" type="button">Chỉnh
						sửa hồ sơ</button>
					<input type="submit" class="btn btn-primary mt-2"
						value="Lưu những thay đổi">
				</div>
				<div th:if="${error}" th:text="${error}"></div>

			</div>
			<div th:replace="~{/user/profile/input-modal.html :: input-modal}"></div>
		</form>
	</div>
</body>
</html>