<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/sign-up.css" type="text/css"
	media="all" />
<style type="text/css">
.error {
	color: red;
}
</style>
</head>
<body>
	<div class="container">
		<h2>Đổi mật khẩu</h2>
		<form th:action="@{/account/update-password}"
			th:onsubmit="return checkPassword();" th:method="post"
			th:object="${account}">
			<input type="hidden" name="code" th:value="${code}">
			<div style="text-align: center; font-weight: bold;">
				Tài khoản: <span th:text="${userName}"></span>
			</div>
			<div class="form-group">
				<label for="password">Mật khẩu *</label> <input type="password"
					id="password" name="password" required>
			</div>
			<div class="form-group">
				<label for="confirm-password">Xác nhận mật khẩu *</label> <input
					type="password" id="confirm-password" required>
					<div id="password-error" style="padding-top: 5px; display: none;"
					th:class="error">Mật khẩu không khớp!</div>
			</div>
			<button type="submit" class="btn">Đổi mật khẩu</button>
		</form>
		<hr>
	</div>
	<script type="text/javascript" th:src="@{/js/sign-up.js}"></script>

</body>
</html>