<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/sign-up.css" type="text/css"
	media="all" />
<style type="text/css">
	.error{
		color: red;
	}
</style>
</head>
<body>
<div class="container">
                <h2>Xác thực email</h2>
                <form th:action="@{/account/checking-code}" th:method="get">
                		<div>Chúng tôi đã gửi mã xác thực. Hãy kiểm tra Gmail của bạn!</div>
                        <div class="form-group">
                                <label for="code">Mã xác thực:</label>
                                <input type="number" id="code" name="code">
                        </div>
                        <button type="submit" class="btn">Gửi!</button>
                </form>
        </div>
</body>
</html>