<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/sign-up.css" type="text/css"
	media="all" />
<style type="text/css">
	.error{
		color: red;
	}
</style>
</head>
<body>
<div class="container">
                <h2>Đăng ký</h2>
                <div th:if="${errors}" th:text="${errors}" th:class="error"></div>
                <form th:action="@{/account/sending-code-to-gmail}" th:method="post">
                		<div>Chúng tôi sẽ gửi mã xác thực đến Gmail này!</div>
                        <div class="form-group">
                                <label for="email">Email của bạn</label>
                                <input type="email" id="email" th:name="email" required>
                        </div>
                        <button type="submit" class="btn">Gửi Mã Xác Thực Cho Tôi!</button>
                </form>
        </div>
</body>
</html>