@charset "UTF-8";

#drop-down:hover #drop-button
{
	color: red;
}

#drop-down:hover #drop-box
{
	display: block;
	background-color: black;
}


#drop-box
{
	display: none;
	position: absolute;
	width: 100px;
}
.item
{
	display: block;
	text-align: center;
}