<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
                <div class="row" id="description" th:fragment="description(video, categories)">
                        <div class="col-sm-7">
                                <table class="description-table">
                                        <tr>
                                                <td rowspan="6"><div style="padding: 0px 10px 0px 10px;"><img style="width: 200px" alt="Không có ảnh" th:src="@{/img/video-avatar/{image}(image=${video.banner})}"></div></td>
                                        </tr>
                                        <tr>
                                                <td style="color: white;" th:text="${video.id}">Tên</td>
                                        </tr>
                                        <tr>
                                                <td><div>Ngôn ngữ: <strong><span th:text="${video.language}">Tên Ngôn ngữ</span></strong> </div></td>
                                                
                                        </tr>
                                        <tr>
                                                <td><div>Tình trạng: <span th:text="${video.status}">Tên Ngôn ngữ</span></div></td>
                                        </tr>
                                        <tr>
                                                <td><div>Lượt xem: <span th:text="${video.viewer}">Tên Ngôn ngữ</span></div> </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                	<div>
                                                		Thể loại:
                                                		<span th:each="category, iter : ${categories}">
                                                				<span th:if="${iter.index == (iter.size-1)}" th:text="${category.name}"></span>
		                                                		<span th:unless="${iter.index == (iter.size-1)}" th:text="${category.name} + ','"></span>
		                                                </span>
                                                	</div>
                                                </td>
                                        </tr>
                                </table>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                                <table class="description-table">
                                        <tr>
                                                <td>Tên studio: </td>
                                                <td th:text="${video.studio.name}">Tên Studio</td>
                                        </tr>
                                        <tr>
                                                <td>Quốc Gia: </td>
                                                <td th:text="${video.country.name}"></td>
                                        </tr>
                                </table>
                        </div>
                </div>
</body>
</html>