<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tin tức phim</title>
<link href="/css/news.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"
	media="all" />
<link rel="stylesheet" href="/css/dropdown.css" type="text/css"
	media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>
<body style="background-color: black;" th:attr="data-current-page=${currentPage}">
	<div class="container" id="overlay">
		<div th:replace="~{component/index-page/header.html :: header}"></div>
		<div style="margin-top: 20px;">
			<div class="container news-container text-center">
				<!-- Tiêu đề chính -->
				<h1 class="text-white mb-4" th:text="${news.id}">TIN TỨC PHIM</h1>

				<!-- Banner -->
				<img th:src="@{/img/news-banner/{banner} (banner=${news.banner})}"
					class="img-fluid rounded mb-4" alt="Banner phim ngẫu nhiên">

				<!-- Tác giả & ngày -->
				<div class="author-date mb-4 text-end">
					Tác giả: <strong th:text="${news.authorName}">WebHoatHinh</strong>
					| Ngày đăng: <span th:text="${news.dateUploaded}"></span>
				</div>

				<!-- Nội dung -->
				<div id="content" style="text-align: left;"></div>
			</div>
		</div>
		<div th:replace="~{/component/news-page/tags.html :: tags}"></div>
	</div>

<script type="text/javascript" src="/js/drop-down.js"></script>
	<script type="text/javascript" th:inline="javascript">
  	let description = /*[[${news.description}]]*/ ''
	let content = document.getElementById("content")
	content.innerHTML = description
	</script>
</body>
</html>
