<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${video?.id}">Document</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/video.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"
	media="all" />
<link rel="stylesheet" href="/css/description.css" type="text/css">
<link rel="stylesheet" href="/css/dropdown.css" type="text/css"
	media="all" />
<link rel="stylesheet" href="/css/comment.css" type="text/css"
	media="all" />
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-func.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<style type="text/css">
	.description{
		color: white; 
		padding: 15px 0px 15px 0px;
	}
	.description *:not(a){
		color: white !important;
	}
</style>
</head>

<body th:attr="data-time-begin=${timeBegin}, data-user=${account}, data-video-id=${video.id}, data-categories=${categories}" style="background-color: black;">
	<div class="row" id="outer">
	<div class="col-md-3" id="cotainer">
		<div th:replace="~{component/index-page/header.html :: header}"></div>
</div>
	<div class="col-md-9">
		<div id="main">
			<div>
				<h3 th:text="${video?.id}" id="video-detail-id" style="color: white;">...</h3>
				<video id="video-show"
					th:src="@{/video/{path}(path=${videoDetail?.path})}" controls></video>
			</div>
		</div>
		<div th:replace="~{component/video-page/description.html :: description(${video}, ${categories})}"></div>
		<div id="description" class="description"></div>
		<div th:if="${account?.user != null}" class="row">
			<div class="col-md-6" th:insert="~{component/video-page/comment.html :: comment(${account},${comments})}"></div>
		</div>
		<div>
			<h3 style="color: white; display: flex; align-items: center; justify-content: space-between; padding: 20px 0px 10px 0px;">
				<span>Có thể bạn sẽ thích!</span>
				<hr style="display: inline-block; border: 3px solid white; width: 73%;">
			</h3>
			<div th:replace="~{component/video-page/slider.html :: slider(${videos})}"></div>
		</div>
		
	</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/video.js}"></script>
<script type="text/javascript" th:src="@{/js/base64.js}"></script>
<script type="text/javascript" th:inline="javascript">
let rawDescription = /*[[${video.description}]]*/ '';
if(rawDescription != '')
{
	let data = decrypt(rawDescription)
	document.getElementById("description").innerHTML = data
}
</script>
</html>