<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Update modal</title>
</head>
<body>
<!-- Update modal -->
	<div class="modal" id="update-modal" tabindex="-1" th:fragment="update-modal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Cập nhật Video</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" onclick="hideUpdateFrame()"></button>
				</div>
				<div class="modal-body">
					<p>Bạn có chắc là muốn cập nhật ... không?</p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-danger" id="btn-update">Cập nhật</a>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal" onclick="hideUpdateFrame()">Đóng</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>