<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="content" th:fragment="content">
      <div class="box">
        <div class="movie" th:each="video : ${videos}">
           <div class="movie-image"> <a th:href="@{${video.id}}"><img th:src="@{'img/video-avatar/'+${video.avatar}}" alt="" /></a> </div>
          <div ><a th:href="@{${video.id}}" class="name" th:text="${video.name}"></a></div>
          <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
            <div class="comments">12</div> </div>
        </div>
        
        <div class="cl">&nbsp;</div>
      </div>
    </div>
</body>
</html>