<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id="content" th:fragment="content">

		<div class="box">

			<div style="text-align: center; font-size: 30px; color: white;"
				th:each="video, sta : ${videos}" th:if="${sta.size == 0}"
				><span th:text="Không
				có kết quả nào phù hợp!"></span> </div>

			<div th:each="v, sta : ${videos}"
				th:if="${sta.size > 0}">
				<div style="display: flex; justify-content: space-around;">
					<div class="movie" th:each="video : ${v}">
						<div class="movie-image">
							<a th:href="@{/view/{id}(id=${video.id})}">
								<img
									th:src="@{'img/video-avatar/'+${video.banner}}" style="border-radius: 18px;" alt="" /></a>
						</div>
						<div style="width: 152px;">
							<a th:href="@{/view/{id}(id = ${video.id})}" class="name"
								th:text="${video.id}"></a>
						</div>
						<div class="rating">
							<p>RATING</p>
							<div class="stars">
								<div class="stars-in"></div>
							</div>
							<div class="comments" th:text="'👀'+${video.viewer}">0</div>
						</div>
					</div>
				</div>
			</div>
			
			<div style="text-align: center;"> 
				<span th:each="pages : ${pageNumber}">
					<span th:if="${pages == currentPage}" style="color: red; font-weight: bold;" th:text="${pages}"></span>
					<span th:unless="${pages == currentPage}">
					<a style="color: white; text-decoration: none;" th:href="@{/{page} (page = ${pages})}" th:text="${pages}">
					</a>
					</span>
					
				</span>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
</body>
</html>