<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="navigation" th:fragment="dropdown">
		<ul>
			<li><a class="active" href="/">Trang chủ</a></li>
			<li><a href="#">Tin tức</a></li>
			<li>
				<div id="drop-down">
					<a href="#" id="drop-button">Thể loại</a>
					<div id="drop-box" th:each = "category: ${categories}">
						<a class="item" th:href="@{/filter-category?category={name} (name=${category.name})}" th:text="${category.name}"></a>
					</div>
				</div>
			</li>
			<li th:if="${account == null}"><a href="/account/sign-in">Đăng nhập / Đăng ký</a></li>
			<li th:if="${account != null}"><a style="display: flex;" th:href="@{/user-profile}">Xin chào, <span style="display: inline-block; width: 100px; overflow: hidden; text-overflow: ellipsis;" th:text="${account.user.fullName}"></span></a></li>
		</ul>
		<div id="search">
			<form id="search-form" th:action="@{/searching-video}" th:method="get" accept-charset="utf-8">
				<input type="text" name="content-searched"
					placeholder="Nhập nội dung tìm kiếm..." id="search-field"
					class="blink search-field form-control" /> <input type="submit"
					value="Tìm!" style="margin-bottom: 8px;" class="btn btn-success" />
			</form>
		</div>
	</div>
</body>
</html>