<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="dropdown">
		<div id="search">
			<form id="search-form" th:action="@{/searching-video}"
				th:method="get" accept-charset="utf-8">
				<input type="text" name="content-searched"
					placeholder="Nhập nội dung tìm kiếm..." id="search-field"
					class="blink search-field form-control" />
				<button type="submit" style="width: 15%;" class="btn btn-success">
					<i class='fas fa-search'></i>
				</button>
			</form>
		</div>
		<div style="text-align: center;">
			<a class="menu-item active" style="margin-top: 30px;" href="/"
				id="home-link"> Trang chủ </a>
			<div class="menu-item">
				<div class="btn-group dropend" style="width: 100%;">
					<button type="button"
						class="btn btn-secondary dropdown-toggle menu-item"
						data-bs-toggle="dropdown" aria-expanded="false"
						style="background-color: transparent; border: none;">Thể
						loại</button>
					<div class="dropdown-menu" style="background-color: black;"
						id="category-list">
							<h3 style="text-align: center; color: white;">Thể loại</h3>
							<hr style="border: 2px solid white;">
						</div>
				</div>
			</div>
		</div>
		<a class="menu-item" sec:authorize="isAuthenticated()"
			th:href="@{/chat-room?username={id} (id=${account.username})}">
			Chat room </a> 
			
			<a class="menu-item" th:href="@{/movie-news/show-news}"
			id="news-link"> Tin tức </a> <a th:if="${account == null}"
			href="/account/sign-in" class="menu-item"> Đăng nhập / Đăng ký </a> <a
			th:href="@{/user-profile}" th:if="${account != null}"
			style="text-align: center;" class="menu-item"> <span
			style="display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
			sec:authentication="name"></span>
		</a>
		<div th:if="${account != null}">
			<form th:action="@{/logout}" method="post">
				<input type="submit" class="menu-item" id="logout" value="Đăng xuất">
			</form>
		</div>
	</div>
	<script type="text/javascript">
		let categoryList = document.getElementById("category-list");
		console.log(categoryList);
	</script>
</body>
</html>