<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="dropdown">
		<div id="search">
			<form id="search-form" th:action="@{/searching-video}"
				th:method="get" accept-charset="utf-8">
				<input type="text" name="content-searched"
					placeholder="Nhập nội dung tìm kiếm..." id="search-field"
					class="blink search-field form-control" />
				<button type="submit" style="width: 15%;" class="btn btn-success">
					<i class='fas fa-search'></i>
				</button>
			</form>
		</div>
		<div style="text-align: center;">
			<a class="menu-item active" style="margin-top: 30px;" href="/"
				id="home-link"> <i class="fa fa-home" style="font-size:20px"></i> Trang chủ </a>
			<div class="menu-item">
				<div class="btn-group dropend" style="width: 100%;">
					<button type="button"
						class="btn btn-secondary dropdown-toggle menu-item"
						data-bs-toggle="dropdown" aria-expanded="false"
						style="background-color: transparent; border: none;"><i class="fa fa-bars" style="font-size:20px"></i> Thể
						loại</button>
					<div class="dropdown-menu" style="background-color: black;"
						id="category-list">
							<h3 style="text-align: center; color: white;">Thể loại</h3>
							<hr style="border: 2px solid white;">
						</div>
				</div>
			</div>
		</div>
		<a class="menu-item" sec:authorize="isAuthenticated()"
			th:href="@{/chat-room?username={id} (id=${account.username})}" style="height: fit-content">
				<div><i class="fa fa-comment" style="font-size:20px"></i> Chat room</div> 
				<div><i class="fas fa-robot" style="font-size:20px"></i> Chat bot <sup style="color: red; font-weight: bold;">Mới</sup></div>
			</a> 
			
			<a class="menu-item" th:href="@{/movie-news/show-news}"
			id="news-link"> <i class="fa fa-newspaper" style="font-size:20px"></i> Tin tức </a> <a th:if="${account == null}"
			href="/account/sign-in" class="menu-item"> <i class="fa fa-sign-in" style="font-size:20px"></i> Đăng nhập / Đăng ký </a>
			 <a
			th:href="@{/user-profile}" th:if="${account != null}"
			style="    display: flex;
    justify-content: center;
    align-items: center;" class="menu-item"> <i class="fa fa-user-circle" style="font-size:20px"></i> <span style="width: 5px;"> </span> <span
			style="display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
			sec:authentication="name"></span>
		</a>
		<span sec:authorize="hasRole('ADMIN')">
			<a class="menu-item" th:href="@{/admin/video}"
			id="news-link"> <i class="fa fa-newspaper" style="font-size:20px"></i> Trang admin</a> 
		</span>
		<div th:if="${account != null}">
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="menu-item" id="logout">
					<i class="fa fa-sign-out" style="font-size:24px"></i>
					Đăng xuất
				</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		let categoryList = document.getElementById("category-list");
	</script>
</body>
</html>