<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id="footer" th:fragment="footer">
			<p class="lf">
				<span>Copyright &copy; 2010 <a href="#">SiteName</a> - All
					Rights Reserved
				</span>
			<div class="social">
				<span>Theo dõi chúng tôi tại:</span>
				<ul>
					<li><a class="twitter" href="#">twitter</a></li>
					<li><a class="facebook" href="#">facebook</a></li>
					<li><a class="vimeo" href="#">vimeo</a></li>
					<li><a class="rss" href="#">rss</a></li>
				</ul>
			</div>
			</p>
		</div>
</body>
</html>