<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>News List</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"
	media="all" />
<style type="text/css">
</style>
</head>
<body>
	<div class="container">
		<table class="table table-hover" id="news-table">
			<thead class="table-dark">
				<tr>
					<th style="width: 60px;">No.</th>
					<th style="width: 650px;">Tiêu đề</th>
					<th style="width: 180px;">Ngày đăng</th>
					<th style="width: 167px;">Tác giả</th>
					<th style="width: 240px;">Tùy chọn</th>
				</tr>
				<tr>
					<td colspan="5"><input style="width: 100%" onkeyup="search()"
						class="form-control" id="search-input"
						placeholder="Search By Name" type="text" /></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="news, iStat: ${news}">
					<td th:text="${iStat.index + 1}"></td>
					<td th:text="${news.id}"></td>
					<td th:text="${news.dateUploaded}"></td>
					<td th:text=${news.authorName}></td>
					<td><button class="btn btn-success" th:attr="onclick=|showConfirmUpload('${news.id}', '${news.dateUploaded}', '${news.authorName}')|">Cập nhật</button>
						<button th:attr="onclick=|showConfirmDelete('${news.id}')|"
							data-bs-toggle="modal" data-bs-target="#delete-modal"
							class="btn btn-danger">Xóa</button></td>
				</tr>
			</tbody>
		</table>
	</div>


	<div th:replace="~{/manage/news/components/modal-confirm-update.html :: update-modal}"></div>
	<div th:replace="~{/manage/news/components/modal-confirm-delete.html :: delete-modal}"></div>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/news-manage.js"></script>
	<script type="text/javascript" th:inline="javascript">
		let error = /*[[${error}]]*/ ""
		if(error.length > 0)
		{
			alert(error)
		}
			
	</script>
</body>
</html>