<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Hồ sơ bên trái -->
	<div th:fragment="information" class="col-md-4" style="margin: 0px auto;">
			<div class="profile-card p-4 h-100">
				<div style="text-align: left;">
					<button onclick="back()" style="text-decoration: none; font-size: 18px; color: yellow; background-color: transparent; border: none;"
						>< Quay lại</button>
				</div>
				<input type="file" id="avatarInput" accept="image/*"
					onchange="previewAvatar(event)">
				<div class="profile-img-container">
					<input type="file" id="avatar" name="avatar" style="display: none;">
					<img id="avatarImage"
						th:src="@{/img/user-avatar/{avatar} (avatar = ${account.user.avatar})}"
						alt="Avatar" class="profile-img">
				</div>
				<h2 class="mt-3 text-center" th:text="${account.user.fullName}">Họ
					tên</h2>
				<div class="text-start">
					<p>
						<strong>Tuổi:</strong> <span>21</span>
					</p>
					<p>
						<strong>Giới tính:</strong> <span th:if="${account.user.gender}">Nam</span>
						<span th:unless="${account.user.gender}">Nữ</span>
					</p>
					<p>
						<strong>Ngày sinh:</strong> <span
							th:text="${account.user.dateOfBirth}">21/10/1232</span>
					</p>
					<p>
						<strong>Email:</strong> <span th:text="${account.email}">tin@gmail.com</span>
					</p>
				</div>
			</div>
	</div>
</body>
</html>