<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- Delete modal -->
	<div class="modal" id="delete-modal" tabindex="-1" th:fragment="delete-modal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Xóa News</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" onclick="hideDeleteNews()"></button>
				</div>
				<div class="modal-body">
					<p>Bạn có chắc là muốn xóa không?</p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-danger" id="btn-delete">Xác nhận xóa</a>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal" onclick="hideDeleteNews()">Đóng</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>